h2 {
  opacity: 0.8;
  font-size: 18px;
  font-family: "system-ui";
  margin-bottom: 32px;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#btn--primary {
  background-color: skyblue;
  color: black;
}

#container {
  background-color: red;
  padding: 16px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
